name: Contracts CI

on: [push, pull_request]

jobs:
  test: 
    runs-on: ubuntu-latest

    steps: 
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install Stellar cli
        uses: stellar/stellar-cli@v23.0.1

      - name: Cache Cargo 
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Run contract tests
        working-directory: contracts
        run: cargo test --all

